@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');

body {
  background-image: url(https://starwarsblog.starwars.com/wp-content/uploads/2020/04/star-wars-backgrounds-25.jpg);
  perspective: 150px;
  overflow: hidden;
}

.content {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  color: #f6cb00;
  font-weight: bold;
  width: 600px;
  margin: 0 auto;
  transform: rotateX(30deg);
  animation: textAnimation 30s ease-in;
  animation-iteration-count: infinite;
}
.title{
  font-size: 120px;
}
.content .title,
.content .subtitle {
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
}

@keyframes textAnimation {
  0% {
    transform: rotateX(30deg) translateY(400px);
  }
  100% {
    transform: rotateX(30deg) translateY(-300px);
  }
}
